.ranking {
    color: var(--secondary-text);
}

.downTrend {
    transform: rotate(180deg);
}

.circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    border-radius: 50%;
    background-color: var(--main-background);
    font-weight: 600;
}

.ranking:first-child .circle {
    background-color: #ffbf0061;
    color: #945b00;
}

.ranking:nth-child(2) .circle {
    background-color: #dadada;
    color: #5f5e5e;
}

.ranking:nth-child(3) .circle {
    background-color: #cd7f3275;
    color: #7d4700;
}
