.grid {
    background: transparent;
    height: calc(100vh - 72px - 65px);
    display: grid;
    grid-template-areas:
        'section section4 section6'
        'section section4 section6'
        'section2 section4 section6'
        'section2 section5 section6'
        'section3 section5 section7'
        'section3 section5 section7'
        'section3 section5 section7';
    grid-gap: 2rem;
    margin-top: 2rem;
}

.section {
    grid-area: section;
}

.section2 {
    grid-area: section2;
}

.section3 {
    grid-area: section3;
}

.section4 {
    grid-area: section4;
}

.section5 {
    grid-area: section5;
}

.section6 {
    grid-area: section6;
}

.section7 {
    grid-area: section7;
}
