.img {
    max-height: 190px;
    object-fit: contain;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) {
    .img {
        max-height: 130px;
        object-fit: contain;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
    .img {
        max-height: 150px;
        object-fit: contain;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
    .img {
        max-height: 120px;
        object-fit: contain;
    }
}
