.amount {
    padding: 0.35rem 0.6rem;
    border-radius: 20px;
    background-color: var(--main-background);
    font-weight: 600;
    margin-bottom: 0;
    word-break: keep-all;
    margin-left: 0.5rem;
}
