/* border: #edeff2 */
/* text: #c3cad9 */
/* background: #f7f8fa; */

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f8fa;
}

main {
    margin-left: 65px;
    padding: 2rem;
}
