:root {
    /* colors */
    --main-text: #c3cad9;
    --secondary-text: #9ba2b1;
    --main-background: #f7f8fa;
    --main-divider: #edeff2;

    --status-success: #2dc157;
    --status-alert: #c12d2d;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-background);
}

main {
    margin-left: 65px;
    padding: 2rem;
    padding-top: calc(65px + 2rem);
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199.98px) {
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
